  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #333;
  }

  .home button a {
    text-decoration: none;
    color: inherit;
  }
  
  h1 {
    color: #4a90e2;
    font-size: 4em;
    margin-bottom: 20px;
    font-family: "Brush Script MT", cursive;
    font-weight: bold;
  }

  p {
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: "Brush Script MT";
    font-weight: bold;
    text-align: center;
    color: #333;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  
  button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Brush Script MT";
  }
  
  button:hover {
    background-color: #357ab7;
  }
  